body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color:darkorange;
    font-family: cursive;
}
.form{
    background-color: tomato;
    border-radius: 80px;
    padding: 30px;
    box-shadow: 0 4px 8px;
    margin: 10px;      
}

.input{
    display: block;  
    width: 100%;    /*to take all the width of the container*/
    box-sizing: border-box; /*To make evenly spaces from sides*/
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px pink;
    color: black;       /*text color*/
    font-weight:200;
}

.input::placeholder{    /*To target inputs' placeholder text for example*/
    color: lightgray;
    font-family: cursive;
}

.btn{
    background-color:pink;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);    /*when we hover makes button abit darker*/
}

.score{
    text-align: right;
}